<html>
	<head>
		<title>Blog Website</title>
	</head>
	<body>
		<h1>Welcome to Blog Website</h1>
		{% if user.is_authenticated %}
			<a href="/user/">To {{ user.username }} Page</a>
		{% else %}
			<button><a href="/login/">Log In</a></button>
			<button><a href="/signup/">Sign Up</a></button> <br>
		{% endif %}
		{% for post in posts %}
			<h3>{{ post.title }}</h3>
			<p>Author: {{ post.author }}</p>
			<p>{{ post.body }}</p>
			<p>Uploaded: {{ post.uploaded }}</p>
		{% endfor %}
	</body>
</html>
